body{
	margin: 0;
	padding: 0;
}

#naglowek{
	width: 100%;
	float: left;
	text-align: center;
	height: 80px;
	background-color: red;
}

#ocena{
	width: 20%;
	float: left;
	height: 1000px;
	background-color: green;
}

#prawaKolumna{
	width: 80%;
	float: left;
	height: 1000px;
	background-color: yellow;
}

#pom{
	height: 950px;
	background-color: blue;
}

#menu{
	width: 15%;
	height: 550px;
	right: 0;
	margin-top:-300px;
	background-color: lightgray;
	position: fixed;
}

#menu a{
	display: block;
	padding: 10px 0px 10px 0px;
	text-decoration: none;
	text-align: center;
}

#menu a:hover{
	color: black;
}

#lista a{
	text-decoration: none;
}

#lista ul{
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	display:flex;
	list-style: none;
	justify-content:center;
}


#lista li {
	display: block;
	float: left;
	text-align: center;
	width: 130px;
	text-decoration: none;
	color: black;
	padding: 15px 15px;
	margin: 0px 1px 1px 0px;
}

#stopka{
	width: 100%;
	float: left;
	text-align: center;
	height: 50px;
	background-color: red;
}

#menuRozwijane{
	width:100%;
	float:left;
}

#menuRozwijane ol {
  list-style-type:none;
  padding:0;
  margin:0;
  height:30px;
  line-height:30px;
  text-align:center;
  background-color:#FFF;
}

#menuRozwijane ol li {
  float:left;
  background-color:gray;
  width:150px;
  margin-left:1px;
  height: 30px;
}

#menuRozwijane ol li:first-child {
  margin-left:0;
}

#menuRozwijane ol a {
  display:block;
  color:black;
  text-decoration:none;
  padding:0 5px;
}

#menuRozwijane ol li a:hover {
  color:#09C;
}

#menuRozwijane ol li:hover {
  background-color:#EEE;
}

#menuRozwijane ol li:hover ul {
  display:block;
}

#menuRozwijane ol li ul {
  list-style-type:none;
  padding:0;
  margin:0;
  display:none;
}

#menuRozwijane ol li ul li a {
  border-top:1px solid #FFF;
}

#menuRozwijane ol li ul li {
  background-color:#EEE;
  position: relative;
}

#menuRozwijane ol li ul li:hover {
  background-color:#DDD;
}

#menuRozwijane ol li ul li:hover a {
  color:#09C;
}